html, body, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #d0d0d0;
  background-color: #202020;
}

a {
  color: #feb61a;
}

button {
  padding: 2px;
  border-radius: 8px;
}

button:disabled img {
  opacity: 0.4;
}

button:hover {
  cursor: pointer;
}

.content {
  width: 600px;
  margin: auto;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #202020;
  padding: 10px;
}

.hero-img {
  margin-top: 60px;
  margin-bottom: 20px;
  height: 64px;
}

.icon {
  width: 32px;
  height: 32px;
}

.panel {
  text-align: left;
  color: #202020;
  background-color: #feb61a;
  border: 2px solid #d0d0d0;
  border-radius: 8px;
  padding-right: 15px;
}

.panel a {
  color: #404040;
  font-weight: bold;
}

.url-input {
  border-radius: 10px;
  width: 500px;
  margin: 20px;
  padding: 5px;
}

#map {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

#panorama {
  height: 100%;
  width: 100%;
}

#result-distance {
  font-weight: bold;
}

#result-score {
  color: #feb61a;
  font-weight: bold;
  font-size: x-large;
}

#result-map {
  height: 350px;
  width: 500px;
  margin: 0 auto 10px auto;
}
